In [7]:
import pandas as pd

# Datos del Modelo 1 (30%) y Modelo 2 (40%) extra√≠dos de la imagen
data = {
    'Metric': ['True Positives (TP)', 'True Negatives (TN)', 'False Positives (FP)', 'False Negatives (FN)', 'Beneficio Neto', 'ROI'],
    'Modelo 1 (30%)': [1031, 2781, 349, 962, None, None],
    'Modelo 2 (40%)': [781, 3229, 599, 514, None, None]
}

# Se crea un DataFrame con los datos
df = pd.DataFrame(data)

# Se calcula el Beneficio Neto para ambos modelos
df.at[4, 'Modelo 1 (30%)'] = (df.at[0, 'Modelo 1 (30%)'] * 350) - (df.at[2, 'Modelo 1 (30%)'] * 175) - (df.at[3, 'Modelo 1 (30%)'] * 25)
df.at[4, 'Modelo 2 (40%)'] = (df.at[0, 'Modelo 2 (40%)'] * 350) - (df.at[2, 'Modelo 2 (40%)'] * 175) - (df.at[3, 'Modelo 2 (40%)'] * 25)

# Se calcula el Coste Total para ambos modelos
coste_total_modelo_1 = (df.at[0, 'Modelo 1 (30%)'] * 350) + (df.at[2, 'Modelo 1 (30%)'] * 175) + (df.at[3, 'Modelo 1 (30%)'] * 25)
coste_total_modelo_2 = (df.at[0, 'Modelo 2 (40%)'] * 350) + (df.at[2, 'Modelo 2 (40%)'] * 175) + (df.at[3, 'Modelo 2 (40%)'] * 25)

# Se cakcula el ROI para ambos modelos, dividiendo el beneficio neto entre el coste total de cada modelo
df.at[5, 'Modelo 1 (30%)'] = df.at[4, 'Modelo 1 (30%)'] / coste_total_modelo_1
df.at[5, 'Modelo 2 (40%)'] = df.at[4, 'Modelo 2 (40%)'] / coste_total_modelo_2

# Mostrar DataFrame
print(df)

                 Metric  Modelo 1 (30%)  Modelo 2 (40%)
0   True Positives (TP)     1031.000000       781.00000
1   True Negatives (TN)     2781.000000      3229.00000
2  False Positives (FP)      349.000000       599.00000
3  False Negatives (FN)      962.000000       514.00000
4        Beneficio Neto   275725.000000    155675.00000
5                   ROI        0.618252         0.39812